<script src="/socket.io/socket.io.js"></script>
<script src="/js/debug.js"></script>

<h1>Listado de productos</h1>
<ul id="productList">
    
</ul>

<h1>Listado de Carritos</h1>
<ul id="cartList">
    
</ul>